.catigory__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
}

.catigory__heading {
  margin: 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.catigory__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: -24px;
}

.catigory__item {
  margin-left: 24px;
}

.catigory__btn {
  border: none;
  background-color: transparent;
  font-family: $open-sans;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $color-gray;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    margin-right: 6px;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.catigory__btn--active {
  color: $color-black;
}

.catigory__btn--active.catigory__btn-grid::before {
  content: "";
  background-image: url(../../img/grid-active.svg);
}

.catigory__btn--active.catigory__btn-list::before {
  content: "";
  background-image: url(../../img/list-active.svg);
}

.catigory__btn-grid::before {
  background-image: url(../../img/grid.svg);
}

.catigory__btn-list::before {
  background-image: url(../../img/list.svg);
}

.catigory__btn-product::before {
  content: "117";
  display: block;
  font-family: $poppins;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: $color-green;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #f4f8ec;
  border-radius: 12px;
  width: 32px;
  height: 18px;
  margin-right: 4px;
}

.catigory__form-part {
  padding-top: 16px;
  padding-bottom: 16px;
}

.catigory__form {
  display: flex;
  align-items: center;
}

.catigory__filter-box {
  position: relative;
  z-index: 1;
  background: $color-bg-dark-gray;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  padding: 11px 18px 11px 48px;
  display: flex;
  align-items: center;
}

.catigory__filter-box:not(:last-child) {
  margin-right: 16px;
}

.catigory__filter-radio {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.catigory__filter-radio:nth-child(2) {
  margin-left: 48px;
}

.catigory__filter {
  position: absolute;
  appearance: none;
}

.catigory__filter-check {
  position: absolute;
  z-index: 1;
  top: -2px;
  left: -30px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #d1d1d1;
  border-radius: 50%;
  flex-shrink: 0;
}

.catigory__filter:checked + .catigory__filter-check {
  box-shadow: inset 0 0 0 5px #222;
}

.catigory__filter-label {
  margin-right: 48px;
}

.catigory__filter-checkbox {
  position: absolute;
  appearance: none;
}

.catigory__box-check {
  position: absolute;
  z-index: 1;
  top: -2px;
  left: -30px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
}

.catigory__filter-checkbox:checked + .catigory__box-check {
  background-color: $color-green;
  background-image: url(../../img/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.catigory__filter-nbm {
  font-family: $poppins;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: $color-black;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid #ebebeb;
  border-radius: 12px;
  margin-left: 8px;
}

.catigory__select {
  display: flex;
  align-items: center;
  width: 82px;
  flex-shrink: 0;
  border: none;
  background-color: transparent;
  outline: transparent;
  border-left: 1px solid #d1d1d1;
  padding-left: 24px;
  font-family: $poppins;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  appearance: none;
  margin-left: 24px;

  &::after {
    content: "";
    display: block;
    width: 8px;
    height: 6px;
    background-color: #fff;
    margin-left: 7px;
    flex-shrink: 0;
  }
}

.catigory__form-checks-info {
  padding: 0;
  display: flex;
  padding-top: 16px;
  align-items: center;
}

.catigory__form-text {
  margin: 0;
  font-family: $poppins;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: $color-gray;
  margin-right: 20px;
}

.catigory__checked {
  margin: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: $color-green;
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #f4f8ec;
  border-radius: 12px;
  white-space: nowrap;
}

.catigory__checked:not(:last-child) {
  margin-right: 12px;
}

.catigory__check-btn {
  display: block;
  width: 7px;
  height: 7px;
  background-image: url(../../img/check-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.catigory__products {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
}

.catigory__product-mobile-btn {
  display: none;
}

.catigory__products-left {
  display: block;
  width: 304px;
  padding-right: 32px;
}

.catigory__products-right {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.catigory__product-grid-stile .catigory__products-right {
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: -48px;
  margin-left: -32px;
}

.catigory__product-box {
  display: flex;
  align-items: flex-start;
  width: 100%;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
}

.catigory__product-grid-stile .catigory__product-box {
  width: calc(33.3% - 32px);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 48px;
  margin-left: 32px;
}

.catigory__product-box:not(:last-child) {
  margin-bottom: 32px;
}

.catigory__product-grid-stile .catigory__product-box:not(:last-child) {
  margin-bottom: 0;
}

.catigory__product-img-boxing {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  width: 31%;
  height: 285px;
  display: block;
}

.catigory__product-grid-stile .catigory__product-img-boxing{
  width: 100%;
  height: 180px;
  margin-bottom: 16px;
}

.catigory__product-img {
  display: block;
  border-radius: 12px;
  width: 100%;
  height: 285px;
}

.catigory__product-grid-stile .catigory__product-img {
  height: 180px;
}

.catigory__product-img-sale {
  position: absolute;
  z-index: 1;
  top: 12px;
  left: 20px;
  font-family: $poppins;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: $color-green;
}

.catigory__product-info {
  display: flex;
  align-items: flex-start;
  padding: 32px;
  width: 100%;
}

.catigory__product-grid-stile .catigory__product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.catigory__info-part-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.catigory__product-heading {
  text-decoration: none;
  margin: 0;
  font-family: $poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 4px;
  color: $color-black;
}

.catigory__product-text {
  margin: 0;
  font-family: $open-sans;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #575757;
  margin-bottom: 10px;
}

.catigory__product-stars {
  position: relative;
  z-index: 1;
  width: 89px;
  display: inline-flex;
  margin-bottom: 25px;
}

.catigory__product-full-box {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 50%;
  height: 16px;
  overflow: hidden;
  display: flex;
}

.catigory__product-full {
  width: 17px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 1;
  margin-right: 1px;
}

.catigory__product-grid-stile .catigory__product-stars {
  margin-bottom: 17px;
}

.catigory__info-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
}

.catigory__product-grid-stile .catigory__info-list {
  display: none;
}

.catigory__info-item {
  display: flex;
  flex-direction: column;
}

.catigory__info-item:nth-child(1) {
  margin-right: 32px;
}

.catigory__info-left {
  margin: 0;
  font-family: $open-sans;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: $color-gray;
}

.catigory__info-left:not(:last-child) {
  margin-bottom: 12px;
}

.catigory__info-green {
  color: $color-green;
}

.catigory__info-part-right {
  display: block;
  margin-left: auto;
}

.catigory__product-grid-stile .catigory__info-part-right {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 0;
  width: 100%;
}

.catigory__product-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: $poppins;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: $color-black;
  margin-bottom: 16px;
  white-space: nowrap;
}

.catigory__product-grid-stile .catigory__product-price {
  margin-bottom: 0;
}

.catigory__product-sale {
  font-family: $poppins;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-decoration-line: line-through;
  color: $color-gray;
}

.catigory__product-free {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: $poppins;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: $color-gray;
  margin-bottom: 26px;
}

.catigory__product-grid-stile .catigory__product-free {
  display: none;
}

.catigory__product-tiny {
  font-family: $open-sans;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.catigory__product-btns {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.catigory__product-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  background: $color-green;
  border: 2px solid $color-border-dark-green;
  border-radius: 12px;
  padding: 12px 16px;
  font-family: $poppins;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  margin-bottom: 12px;
  transition: background-color 0.4s ease,
    color 0.4s ease;

  &:hover {
    background-color: #fff;
    color: $color-green;
  }
}

.catigory__product-grid-stile .catigory__product-link {
  margin-bottom: 0;
  padding: 6px 12px;
}

.catigory__product-link-list {
  display: flex;
  align-items: center;
  white-space: nowrap;
  transition: background-image 0.4s ease;
  
  &::after {
    content: "";
    display: block;
    width: 6px;
    height: 20px;
    background-image: url(../../img/right-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 11px;
  }

  &:hover::after {
    background-image: url(../../img/right-scroll.svg);
  }
}

.catigory__product-grid-stile .catigory__product-link-list {
  display: none;
}

.catigory__product-link-grid {
  display: none;
  white-space: nowrap;
}

.catigory__product-grid-stile .catigory__product-link-grid{
  display: block;
}

.catigory__product-btn {
  display: flex;
  align-items: center;
  background: $color-bg-light-gray;
  border: 2px solid transparent;
  border-radius: 12px;
  padding: 6px 12px;
  font-family: $poppins;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: $color-black;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 0.4s ease,
    border 0.4s ease;

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 14px;
    background-image: url(../../img/hurt.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
  }

  &:hover {
    border: 2px solid $color-black;
    background-color: #fff;
  }
}

.catigory__product-grid-stile .catigory__product-btn {
  display: none;
}

.catigory__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

.catigory__footer-page {
  display: flex;
  align-items: center;
  font-family: $open-sans;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $color-gray;
}

.catigory__footer-page-btn {
  text-decoration: none;
  font-family: $open-sans;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin-left: 8px;
  color: $color-black;
}

.catigory__page--active {
  color: $color-green;
}

.catigory__footer-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: $poppins;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #fff;
  background: $color-green;
  border: 2px solid $color-border-dark-green;
  border-radius: 12px;
  padding: 12px 16px;
  transition: background-color 0.4s ease,
    color 0.4s ease,
    background-image 0.4s ease;

  &::after {
    content: "";
    display: block;
    width: 10px;
    height: 6px;
    background-image: url(../../img/bottom-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 8px;
  }

  &:hover {
    background-color: #fff;
    color: $color-green;
  }

  &:hover::after {
    background-image: url(../../img/bottom.svg);
  }
}

.catigory__footer-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: $open-sans;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $color-gray;
  display: flex;
  align-items: center;
}

.catigory__footer-info {
  display: block;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 12px;
  font-family: $poppins;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: $color-green;
  background-color: #f4f8ec;
  margin-right: 4px;
}


@include breakpoint-down (1060px) {
  .catigory__products {
    position: relative;
    z-index: 1;
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
  }
  
  .catigory__product-mobile-btn {
    display: block;
    margin-bottom: 32px;
    margin-left: auto;
    border: 2px solid $color-border-dark-green;
    background-color: $color-green;
    padding: 12px 16px;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.4s ease,
      color 0.4s ease;

    &:hover {
      background-color: #fff;
      color: $color-green;
    }
  }
  
  .catigory__products-left {
    display: none;
  }

  .catigory__settings--open {
    position: absolute;
    z-index: 10;
    top: 142px;
    left: -47px;
    display: block;
    width: 100%;
    padding: 45px;
    background-color: #fff;
    border: 2px solid $color-gray;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  }

  .catigory__product-grid-stile .catigory__products-right {
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: -48px;
    margin-left: 0;
    flex-grow: 1;
  }
  
  .catigory__product-grid-stile .catigory__product-box {
    width: calc(33.33% - 32px);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 48px;
    margin-left: 0;
    flex-grow: 1;
  }

  .catigory__product-grid-stile .catigory__product-box:not(:last-child) {
    margin-bottom: 0;
  }

  .catigory__product-grid-stile .catigory__product-box:not(:nth-child(3n)) {
    margin-right: 32px;
  }
  
  .catigory__product-grid-stile .catigory__product-img-boxing{
    width: 100%;
    height: 180px;
    margin-bottom: 16px;
  }
}


@include breakpoint-down (974px) {
  .catigory__form-part {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
  }
  
  .catigory__form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -20px;
    margin-left: -16px;
  }
  
  .catigory__filter-box {
    position: relative;
    z-index: 1;
    background: $color-bg-dark-gray;
    border: 1px solid #d1d1d1;
    border-radius: 12px;
    padding: 11px 18px 11px 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    width: calc(50% - 16px);
    margin-top: 20px;
    margin-left: 16px;
  }
  
  .catigory__filter-box:not(:last-child) {
    margin-right: 0;
  }

  .catigory__product-grid-stile .catigory__products-right {
    margin-left: 0;
    flex-grow: 1;
  }
  
  .catigory__product-grid-stile .catigory__product-box {
    width: calc(50% - 32px);
    margin-left: 0;
    flex-grow: 1;
  }

  .catigory__product-grid-stile .catigory__product-box:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .catigory__product-grid-stile .catigory__product-box:nth-child(odd) {
    margin-right: 32px;
  }
}


@include breakpoint-down (750px) {
  .catigory__products {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .catigory__list {
    display: none;
  }

  .catigory__products-left {
    padding: 24px;
  }

  .catigory__settings--open {
    top: 110px;
    left: -26px;
  }

  .catigory__products-right{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -48px;
  }

  .catigory__product-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: calc(50% - 16px);
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 12px;
    padding: 16px;
    margin-top: 48px;
  }

  .catigory__product-box:nth-child(odd) {
    margin-right: 32px;
  }
  
  .catigory__product-box:not(:last-child) {
    margin-bottom: 0;
  }
  
  .catigory__product-img-boxing {
    position: relative;
    z-index: 1;
    flex-shrink: 0;
    width: 100%;
    height: 180px;
    display: block;
    margin-bottom: 16px;
  }
  
  .catigory__product-img {
    display: block;
    border-radius: 12px;
    width: 100%;
    height: 180px;
  }
  
  .catigory__product-info {
    flex-direction: column;
    padding: 0;
  }

  .catigory__info-list {
    display: none;
  }
  
  .catigory__info-part-right {
    display: flex;
    align-items: center;
    margin-left: 0;
    width: 100%;
  }
  
  .catigory__product-price {
    margin-bottom: 0;
  }
  
  .catigory__product-free {
    display: none;
  }
  
  .catigory__product-btns {
    margin-left: auto;
  }
  
  .catigory__product-link {
    margin-bottom: 0;
    padding: 6px 12px;
  }
  
  .catigory__product-link-list {
    display: none;
  }
  
  .catigory__product-link-grid {
    display: block;
    white-space: nowrap;
  }
  
  .catigory__product-btn {
    display: none;
  }
}


@include breakpoint-down (700px) {
  .catigory__settings--open {
    width: 60%;
  }
}


@include breakpoint-down (600px) {
  .catigory__form-part {
    display: flex;
  }

  .catigory__form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -20px;
    margin-left: 0;
    margin-right: 25px;
  }
  
  .catigory__filter-box {
    white-space: nowrap;
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }

  .catigory__form-checks-info {
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    padding-top: 0;
    width: 35%;
  }

  .catigory__checked {
    margin-top: 16px;
    margin-right: 0;
  }

  .catigory__checked:not(:last-child) {
    margin-right: 0;
  }

  .catigory__settings--open {
    width: 80%;
    left: -26px;
  }

  .catigory__products-right{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -48px;
  }

  .catigory__product-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 12px;
    padding: 16px;
    margin-top: 48px;
  }

  .catigory__product-box:nth-child(odd) {
    margin-right: 0;
  }
  
  .catigory__product-box:not(:last-child) {
    margin-bottom: 0;
  }
  
  .catigory__product-grid-stile .catigory__product-box {
    width: 100%;
    margin-left: 0;
    flex-grow: 1;
  }

  .catigory__product-grid-stile .catigory__product-box:nth-child(odd) {
    margin-right: 0;
  }

  .catigory__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  .catigory__footer-link {
    padding: 6px 12px;
  }
  
  .catigory__footer-btn {
    display: none;
  }
}


@include breakpoint-down (500px) {
  .catigory__settings--open {
    width: 100%;
  }
}


@include breakpoint-down (460px) {
  .catigory__heading {
    font-size: 26px;
    line-height: 32px;
  }

  .catigory__form-part {
    display: flex;
    flex-direction: column;
  }

  .catigory__form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: -20px 0 16px ;
  }
  
  .catigory__filter-box {
    white-space: nowrap;
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }

  .catigory__form-checks-info {
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    padding-top: 0;
    width: 35%;
  }
}






