.header-menu {
  display: block;
  margin-left: -45px;
  margin-right: -45px;
  padding: 16px 45px;
  background-color: $color-bg-dark-gray;
}

.header-menu__link{
  display: none;
}

.header-menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.header-menu__item{
  position: relative;
}

.header-menu__item:not(:last-child) {
  margin-right: 40px;
}

@include breakpoint-down (1150px){
  .header-menu__list {
    flex-wrap: wrap;
  }

  .header-menu__list {
    margin-top: -16px;
  }
  
  .header-menu__item{
    margin-top: 16px;
  }
}


@include breakpoint-down (850px) {
  .header-menu {
    padding: 16px 24px;
    margin-left: -24px;
    margin-right: -24px;
  }
}


@include breakpoint-down (800px){
  .header-menu {
    position: relative;
    z-index: 90;
    background-color: transparent;
    padding: 0;
    margin: 0;
    margin-left: 40px;
  }

  .header-menu__link {
    display: block;
    border: none;
    background-color: transparent;
    padding: 0;
  }

  .header-menu__svg {
    display: block;
    color: $color-black;
    transition: color 0.4s ease;

    &:hover {
      color: $color-green;
    }
  }

  .header-menu__box{
    position: absolute;
    z-index: 2;
    top: 40px;
    right: -24px;
    height: 100vh;
    display: none;
    overflow: auto;
    background-color: $color-black;
    padding: 15px;
    margin-right: 24px;
  }

  .header-menu__box--open {
    display: block;
  }

  .header-menu__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -16px;
  }
  
  .header-menu__item{
    margin-top: 16px;
  }
}


@include breakpoint-down (600px){
  .header-menu {
    margin-left: 10px;
  }
}

