.shopping__cart {
  position: absolute;
  z-index: 80;
  top: 110px;
  right: 0;
  padding: 17px;
  background-color: #fff;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  width: 400px;
  min-height: 600px;
  overflow: auto;
  display: none;
  flex-direction: column;
  align-items: flex-start;
}

.shopping--open .shopping__cart {
  display: flex;
}

.shopping__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  width: 100%;
}

.shopping__header-heading {
  margin: 0;
  font-family: $poppins;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  color: $color-black;
}

.shopping__header-close {
  padding: 0;
  border: none;
  background-color: transparent;
  width: 18px;
  height: 18px;
  background-image: url(../../img/close-dark.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.shopping__list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}

.shopping__item {
  display: flex;
  align-items: flex-start;
  padding-bottom: 16px;
  border-bottom: 1px solid $color-bg-dark-gray;
  width: 100%;
  margin-bottom: 32px;
}

.shopping__cart-left {
  width: calc(32% - 16px);
  flex-shrink: 0;
  margin-right: 16px;
}

.shopping__cart-left-img {
  border-radius: 12px;
  display: block;
  height: 67px;
  margin-bottom: 12px;
  width: 100%;
  flex-shrink: 0;
}

.shopping__cart-left-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.shopping__cart-left-item:not(:last-child) {
  margin-bottom: 8px;
}

.shopping__cart-left-button {
  border: none;
  background-color: transparent;
  padding: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $color-gray;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 7px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.shopping__cart-left-wish::before {
  background-image: url(../../img/hurt.svg);
}

.shopping__cart-left-compare::before {
  background-image: url(../../img/shopping-icon.svg);
}

.shopping__cart-left-remove::before {
  width: 15px;
  height: 10px;
  background-image: url(../../img/close-dark.svg);
}

.shopping__cart-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.shopping__cart-right-heading {
  margin: 0;
  font-family: $poppins;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: $color-black;
  margin-bottom: 4px;
}

table {
  padding: 0;
  margin: 0;
  list-style: none;
}

.shopping__cart-right-tr {
  font-family: $open-sans;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $color-gray;
  width: 100%;
  display: flex;
  padding: 0;
  margin-bottom: 12px;
}

.shopping__cart-right-tr:not(:last-child) {
  margin-bottom: 7px;
}

.shopping__cart-right-th {
  font-family: $open-sans;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  // margin-right: 14px;
  padding: 0;
}

.shopping__cart-right-td {
  margin-left: 14px;
  color: $color-black;
  padding: 0;
}

.shopping__cart-right-money {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.shopping__cart-right-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  font-family: $poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: $color-green;
}

.shopping__cart-right-sale {
  font-size: 12px;
  line-height: 18px;
  text-decoration-line: line-through;
  color: $color-gray;
}

.shopping__cart-right-btn {
  padding: 0;
  border: 1px solid #d1d1d1;
  background-color: $color-bg-light-gray;
  border-radius: 12px;
  padding: 6px;
  font-family: $poppins;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: $color-black;
  display: flex;
  align-items: center;

  &::after {
    content: "";
    display: block;
    width: 10px;
    height: 4px;
    background-image: url(../../img/bottom-black.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 6px;
  }
}

.shopping__cart-right-pcs {
  font-family: $open-sans;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: $color-gray;
  padding-right: 6px;
  margin-right: 6px;
  border-right: 1px solid #d1d1d1;
}

.shopping__footer {
  margin-top: auto;
  width: 100%;
}

.shopping__footer-info {
  display: block;
  font-family: $poppins;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: $color-black;
  margin-bottom: 8px;
}

.shopping__footer-allprice {
  margin: 0;
  font-family: $poppins;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
}

.shopping__footer-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 15px;
  border-top: 1px solid #ebebeb;
  width: 109%;
}

.shopping__footer-text {
  margin: 0;
  font-family: $poppins;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
}

.shopping__footer-link {
  text-decoration: none;
  font-family: $poppins;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  padding: 13px 16px;
  border-radius: 12px;
  background-color: $color-green;
  border: 2px solid $color-border-dark-green;
  color: #fff;
  transition: background-color 0.4s ease,
    color 0.4s ease;

  &:hover {
    background-color: #fff;
    color: $color-green;
  }
}
