.vegetable__link {
  text-decoration: none;
}

.vegetable__img-box {
  width:80%;
  margin-left: 31px;
  margin-right: 31px;

  &::before {
    content: "";
    width: 269px;
    height: 180px;
    display: block;
    background-image: url("../../img/img-vegetable.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 24px;
  }
}

.vegetables__title {
  font-family: $poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: $color-black;
  margin: 0;
  margin-top: 8px;
}

@include breakpoint-down(1000px){

  .vegetable__img-box{
    display: flex;
    align-items: center;
    &::before {
      order: 1;
      width: 96px;
      height: 96px;
    }
  }

}